PORT=
STAGE=
GMT=

DATABASE_ENABLE=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

EMAIL_ENABLE=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_USER=
EMAIL_PASSWORD=

SITE_URL=
SITE_VALIDATE_URL=
SITE_RESET_URL=