@font-face {
  font-family: "MineCrafter Reg";
  src: url("../fonts/minecrafter/Minecrafter.Reg.ttf") format("truetype");
}

@font-face {
  font-family: "MineCrafter Alt";
  src: url("../fonts/minecrafter/Minecrafter.Alt.ttf") format("truetype");
}

@font-face {
  font-family: "Minecraft Seven";
  src: url("../fonts/minecraft_seven/MinecraftSeven.woff2") format("woff2");
}