PORT=9184
STAGE=DEV
WORKER_ID=

MANAGER_URL=
MANAGER_API_KEY=
MANAGER_SECRET=

STORAGE_ENABLE=true
STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_ENDPOINT=
STORAGE_FORCE_PATHSTYLE=
STORAGE_ID=
STORAGE_SECRET=

PUID=
PGID=